<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!--
	<property name="log.base" value="${jeecms.root}/WEB-INF/lmintpgou"/>
	-->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS} %-5level %logger{80} - %msg%n</Pattern>
		</layout>
	</appender>
	<!--
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<File>${log.base}.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.base}.%d{yyyy-MM-dd}.log.zip</FileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
		</layout>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${log.base}.log</file>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%msg%n</Pattern>
		</layout>
	</appender>
	-->
	<!--
	-->
	<logger name="com.mint">
		<level value="INFO" />
	</logger>
	<logger name="com.mint.common.web.ProcessTimeFilter">
		<level value="INFO" />
	</logger>
	<logger name="com.mint.common.developer">
		<level value="INFO" />
	</logger>
	<logger name="com.mint.common">
		<level value="INFO" />
	</logger>
	<logger name="com.mint.common.hibernate4.TreeIntercptor">
		<level value="INFO" />
	</logger>
	<logger name="org.springframework">
		<level value="INFO" />
	</logger>
	<logger name="org.springframework.web">
		<level value="INFO" />
	</logger>
	<logger name="org.hibernate">
		<level value="INFO" />
	</logger>
	<root>
		<level value="INFO" />Z<!--WARN-->
		<appender-ref ref="STDOUT" />
		<!--<appender-ref ref="FILE" />-->
	</root>
</configuration>

