
.mt10{margin-top:10px;}
.hide{display:none;}
.none{display:none;}

.sa_popup{border:1px solid #dbdbdb;position:absolute;background-color:#fff;}
.sa_popup .popTitle{font-size:12px;font-weight:normal;padding-left:10px;height:28px;line-height:28px;color:#fff;background-color:#900;position:relative;}
.sa_popup .popTitle .close{position:absolute;right:0;top:0;width:50px;cursor:pointer;background:url(../../images/v2/checkoutV2/r1_c2.png) 30px center no-repeat;}
.sa_popup_box{padding:10px;overflow:hidden;zoom:1;}
.sa_popup_box .btn{text-align:center;}
.sa_popup_box .btn a:link,.sa_popup_box .btn a:visited,.sa_popup_box .btn a:hover{font-weight:bold;height:25px;line-height:25px;margin:0 20px;display:inline-block;color:#fff;}

.pvce_popup{width:468px;}
.pvce_popup_box{height:170px;overflow:hidden;}
.pvce_popup_box .text{font:bold 14px/22px 'ו';width:375px;margin:40px 0 40px 20px;padding-left:50px;background:url(../../images/v2/checkoutV2/r1_c22.png) 0 center no-repeat;}.pvce_popup_box .btn{text-align:center;}.pvce_popup_box .btn a:link,.pvce_popup_box .btn a:visited,.pvce_popup_box .btn a:hover{width:80px;height:27px;line-height:27px;margin:0 10px;display:inline-block;}
.pvce_popup_box .btn .pvce{font-weight:bold;color:#fff;background:url(../../images/v2/checkoutV2/r1_c23.png) no-repeat;}
.pvce_popup_box .btn .edit{color:#666;background:url(../../images/v2/checkoutV2/r1_c24.png) no-repeat;}

.adds_list .delete_tip{position:absolute;left:38px;top:-73px;width:178px;height:68px;border:1px solid #FFDBA7;color:#333;background-color:#FFFEEE;}
.adds_list .delete_tip .tip_text{display:block;line-height:34px;text-align:center;}
.adds_list .delete_tip input{width:40px;height:20px;line-height:20px;margin:0 10px;border:0 none;cursor:pointer;}
.adds_list .delete_tip input.ok{font-weight:bold;color:#fff;background:url(../../images/v2/checkoutV2/r1_c31.png) no-repeat;}
.adds_list .delete_tip input.cancel{background:url(../../images/v2/checkoutV2/r1_c32.png) no-repeat;}
.adds_list .delete_tip .arrow{position:relative;left:10px;bottom:-7px;font:normal 12px/21px Simsun;}
.adds_list .delete_tip .arrow .s1,.adds_list .delete_tip .arrow .s2{position:absolute;}
.adds_list .delete_tip .arrow .s1{z-index:1;color:#FFDBA7;}
.adds_list .delete_tip .arrow .s2{z-index:2;color:#FFFEEE;top:-1px;}

.delivery{width:978px;margin:0 auto;border:1px solid #e4e4e4;}
.delivery .title{height:27px;border-bottom:2px solid #c00;position:relative;background:url(../../images/v2/checkoutV2/r1_c17.png) repeat-x;}
.delivery .title h2{padding-left:20px;font-size:14px;line-height:27px;color:#333;}
.delivery .title a{position:absolute;right:20px;top:6px;}
.delivery .a2:link,.delivery .a2:visited{color:#666;}
.delivery .a2:hover{color:#c00;}
.delivery_box{padding:6px 18px 20px;}
.delivery_box .prompt{line-height:40px;margin-bottom:10px;text-align:center;color:#333;background-color:#fffeef;}
.delivery_box .prompt span{color:#f60;}
.delivery_box .delivery_radio{MARGIN:0 4px;}

.business_title{height:30px;line-height:30px;position:relative;border-bottom:2px solid #aaa;}
.business_title h3{padding-left:35px;font-size:14px;color:#333;line-height:30px;}
.business_title a{position:absolute;right:5px;top:0;}

.delivery_box tr.selected{background-color:#FFE1E1;}
.delivery_box tr.selected .destine{padding:2px 6px;border:1px solid #FFD8A3;color:#f60;background-color:#FFFDE6;}
.delivery_box .one_store{background:url(../img/member/r1_c18.png) 7px center no-repeat;}
.delivery_box .business_other{background:url(../../images/v2/checkoutV2/r1_c19.png) 7px center no-repeat;}
.delivery_box .head{width:100%;background-color:#f0f0f0;border-bottom:1px solid #e4e4e4;}
.delivery_box .head td{line-height:28px;color:#333;}
.delivery_box .head .give_goods{margin:0 5px;*margin:0 1px;}
.delivery_box .head label{position:relative;}
.delivery_box .head label.selected{color:#c00;}
.delivery_box .head .tip_box{position:absolute;top:-43px;z-index:1;padding:0 10px;white-space:nowrap;border:1px solid #FFDBA7;color:#333;background-color:#FFFEEE;}.delivery_box .head .first_goods{right:-155px;top:-41px\0;right:-154px\0;+top:-40px;+right:-146px;_right:29px;}.delivery_box .head .after_goods{right:-24px;top:-41px\0;right:-23px\0;+top:-40px;+right:-8px;_right:131px;display:none;}
.delivery_box .head .tip_arrow{position:absolute;bottom:8px;+bottom:9px;_bottom:8px;z-index:1;font:12px/21px Simsun;}
.delivery_box .head .first_goods .tip_arrow{left:40px;}
.delivery_box .head .after_goods .tip_arrow{left:120px;}
.delivery_box .head .tip_arrow em,.delivery_box .head .tip_arrow i{position:absolute;font-weight:normal;font-style:normal;}
.delivery_box .head .tip_arrow em{color:#FFDBA7;}
.delivery_box .head .tip_arrow i{top:-1px;color:#FFFEEE;}
.delivery_box .body{border-bottom:1px dashed #ccc;}
.delivery_box .com_info_box .bt_a:link,.delivery_box .com_info_box .bt_a:visited{color:#666;}
.delivery_box .com_info_box .bt_a:hover{color:#c00;}
.delivery_box .body td{padding:9px 0;line-height:24px;}
.delivery_box .body strong{color:#c00;}
.delivery_box .body .destine{color:#f90;}
.delivery_box .body .date{cursor:pointer;width:144px;height:16px;margin:0 10px;padding:2px;border-width:1px;border-style:solid;border-color:#ABADB3 #DBDFE6 #E3E9EF #E2E3EA;color:#666;background:url(../../images/v2/checkoutV2/r1_c21.png) 126px center no-repeat;}
.delivery_box .body .goods_date{color:#c00;}
.delivery_box .body .message{border-top:1px solid #e4e4e4;}
.delivery_box .body .message input{width:584px;height:16px;line-height:16px;padding:2px;border-width:1px;border-style:solid;border-color:#ABADB3 #DBDFE6 #E3E9EF #E2E3EA;color:#999;}
.delivery_box .body .select_time{margin:10px 0 0 10px;width:150px;height:20px;border:1px solid #ababab;}
.delivery_box .foot{margin-top:-1px;margin-bottom:15px;border-top:1px solid #e4e4e4;}
.delivery_box .foot td{padding:4px 0;line-height:24px;}
.delivery_box .foot .bold{font-weight:bold;color:#333;}
.delivery_box .foot .num{font-size:16px;color:#c00;}
.delivery_box .btn,.rece_box .btn{text-align:center;}
.delivery_box .btn input,.rece_box .btn input{width:160px;height:35px;line-height:35px;border:0 none;font-size:14px;font-weight:bold;color:#fff;cursor:pointer;background:url(../img/member/r1_c20.png) no-repeat;}
.delivery_box .btn input.load,.rece_box .btn input.load{font-size:12px;font-weight:normal;padding-left:20px;border:1px solid #FFDBA7;color:#f60;background:#FFFEEE url(../../images/v2/checkoutV2/loading.gif) 10px center no-repeat;}
.delivery_box .p_address{position:relative;margin-top:10px;}
.delivery_box .p_address a{position:absolute;right:26px;top:0;}
.delivery_box .table_box{position:relative;}
.delivery_box .table_box table{width:100%;border:1px solid #e4e4e4;}
.delivery_box .table_box table th{padding:8px 0;line-height:1em;font-weight:normal;border-bottom:1px solid #e4e4e4;background-color:#f0f0f0;}
.delivery_box .table_box table td{padding:10px 0;border-bottom:1px dashed #ccc;}
.delivery_box .table_box .p_edit{line-height:26px;text-align:right;padding:0 26px;}
.delivery_box .voucher{margin-top:15px;color:#999;position:relative;}
.delivery_box .voucher .fr{display:inline;margin-top:4px;*margin-top:6px;}
.delivery_box .voucher .unfold{display:block;float:left;width:14px;height:13px;margin-right:5px;background:url(../../images/v2/order/fold.gif) 0 0 no-repeat;cursor:pointer;}
.delivery_box .voucher .fold{background-position:-14px 0;}
.delivery_box .voucher .unable{background-position:-42px 0;cursor:default;}
.delivery_box .voucher label{font-weight:bold;color:#333;}
.delivery_box .voucher strong{color:#c00;}
.delivery_box .voucher .check_voucher_des{color:#666;}
.delivery_box .total_money_box{margin:15px 0;padding:5px 10px;border:1px solid #FFDBA7;background-color:#FFFEEE;}
.delivery_box .total_money_box p{line-height:26px;font-weight:bold;color:#333;text-align:right;}
.delivery_box .total_money_box span{margin:0 2px;color:#c00;}
.delivery_box .total_money_box .list span{font-size:16px;}
.delivery_box .total_money_box .total span{font-size:20px;}
.delivery_box .radio_select{padding:8px 5px;line-height:22px;color:#333;}
.delivery_box .radio_select label{font-weight:bold;cursor:pointer;}
.delivery_box .radio_select .des{display:inline-block;width:823px;margin-left:25px;vertical-align:middle;}
.delivery_box .radio_select .des em{font-style:normal;color:#c00;}


.rece_box .h3{font-size:12px;padding:25px 0 20px;color:#333;line-height:14px;}
.rece_box .h3 span{color:#c00;font-weight:normal;}
.rece_box .info_form{padding-bottom:10px;line-height:22px;_zoom:1;}
.rece_box .info_form .lab{float:left;width:100px;color:#333;text-align:right;}
.rece_box .info_form .span_bt{color:#06c;cursor:pointer;}
.rece_box .info_form .fixTel{position:static;width:auto;float:none;}
.rece_box .info_form .lab em{margin-right:6px;vertical-align:middle;font-style:normal;color:#f00;}
.rece_box .info_form .text{height:16px;line-height:16px;margin-right:10px;padding:2px;border-width:1px;border-style:solid;border-color:#ABADB3 #DBDFE6 #E3E9EF #E2E3EA;color:#999;}
.rece_box .info_form select{height:22px;margin:0 8px 0 0;padding:1px 1px 1px 2px;border-width:1px;border-style:solid;border-color:#ABADB3 #DBDFE6 #E3E9EF #E2E3EA;color:#999;}
.rece_box .info_form .user_name,.rece_box .info_form .user_phone{width:104px;}
.rece_box .info_form .user_name,.rece_box .info_form .user_areaCode{width:50px;}
.rece_box .info_form .user_name,.rece_box .info_form .user_extNumber{width:50px;}
.rece_box .info_form .user_phone{width:154px;}
.rece_box .info_form .user_telephone{width:174px;}
.rece_box .info_form .user_mail,.rece_box .info_form .user_adress{width:294px;}
.rece_box .info_form span{color:#ccc;}
.rece_box .info_form .receipt_time{margin-right:20px;}
.rece_box .info_form .error{padding-left:15px;color:#f00;background:url(../../images/v2/checkoutV2/r1_c4.png) 0 center no-repeat;}
.rece_box .info_form .ok{padding-left:15px;color:#999;background:url(../../images/v2/checkoutV2/r1_c42.png) 0 center no-repeat;*display:inline-block;}
.btnw button{width:100px;height:25px;border:none;background:url(../../images/v2/checkoutV2/bg_jsuanlch.gif) no-repeat 0 0;line-height:25px;color:#fff;font-weight:bold;text-align:center;}
.rece_box .btn{margin-bottom:20px;}

.rece_box .delivery_address{position:relative;height:50px;line-height:50px;margin:0 25px;}
.rece_box .delivery_address .useful_address{color:#999;}
.rece_box .delivery_address .edit{position:absolute;right:19px;top:0;}
.rece_box .btn_top{margin-top:50px;}
.rece_box .adress_prompt{display:inline-block;height:14px;margin-left:28px;padding:10px 15px 10px 30px;font-family:'ו';background:#FFFEEE url(../../images/v2/checkoutV2/r1_c27.png) 10px 8px no-repeat;}
.rece_box .adress_prompt span{color:#c00;}
.rece_box .adress_edit2{margin:0 18px;}
.rece_box .adds_list{line-height:18px;margin:0 20px;padding:7px 5px;}
.rece_box .adds_selected{background-color:#FFE1E1;}
.rece_box .adds_selected label{font-weight:bold;color:#333;}
.rece_box .adds_list .edit_span{display:none;}
.rece_box .adds_selected .edit_span{display:inline-block;position:relative;}
.rece_box .adds_selected .edit_span a{margin-left:10px;}
.rece_box .adds_selected .edit_span .addre{margin-left:10px;color:#999;}
.rece_box .adds_selected .edit_span .success{margin-left:10px;padding-left:15px;color:#333;background:url(../../images/v2/checkoutV2/r1_c33.png) 0 center no-repeat;}
.rece_box .adds_list .delivery_info{margin-right:10px;}
.rece_box .adds_list label{_vertical-align:-10px;}
.rece_box .adds_selected label{_vertical-align:middle;}
.rece_box .adds_list .text{display:inline-block;width:860px;vertical-align:middle;}
.rece_box .adds_btn{line-height:20px;margin:10px 20px 0;text-align:right;}
.rece_box .adds_btn span{display:inline-block;padding-right:20px;cursor:pointer;}
.rece_box .adds_btn .show{width:80px;background:url(../../images/v2/checkoutV2/r1_c28.png) no-repeat;}
.rece_box .adds_btn .away{width:60px;background:url(../../images/v2/checkoutV2/r1_c34.png) no-repeat;}
.rece_box .add_adds{margin:10px 40px 20px;line-height:20px;}
.rece_box .add_adds .btn_span{display:inline-block;width:75px;height:20px;text-align:center;cursor:pointer;background:url(../img/member/r1_c29.png) no-repeat;}
.rece_box .add_adds .btn_span_alipay{display:inline-block;width:153px;height:20px;text-align:center;cursor:pointer;background:url(../../images/v2/checkoutV2/alipay_consignee.png) no-repeat;}
.rece_box .add_adds .edit{color:#f60;background:url(../../images/v2/checkoutV2/r1_c30.png) no-repeat;}
.rece_box .add_adds .text{margin-left:10px;color:#c00;}
.rece_box .add_adds a{margin-left:20px;}
.rece_box .delivery_hr{height:1px;margin-bottom:10px;*margin-bottom:4px;border:0 none;border-top:1px solid #E4E4E4;}

.deliveryNote{width:740px;height:275px;overflow:hidden;overflow-y:auto;padding:0 8px 0 10px;_zoom:1;}
dl.delivery_bottom{margin:8px -8px 0;padding:8px 0;line-height:24px;}
dl.delivery_bottom dt{padding-left:16px;}
dl.delivery_bottom dt i{display:inline-block;width:11px;height:11px;margin-right:8px;background:url("../../images/v2/checkoutV2/r1_c45.png") no-repeat 0 center;}
dl.delivery_bottom dd{padding-left:35px;}
.deliveryNote h4,.deliveryNote strong{display:block;padding-top:10px;font-size:12px;}
.deliveryNote p,.deliveryNote table{width:724px;margin-top:10px;}
.deliveryNote select{margin-right:8px;}
.deliveryNote table,.deliveryNote td,.deliveryNote th{border:1px solid #D0EBF9;border-collapse:collapse;line-height:200%;}
.deliveryNote td,.deliveryNote th{padding:6px 4px;text-align:center;_zoom:1;}
.deliveryNote td .cur{position:relative;z-index:0;}
.deliveryNote td .delivery_tip_box{*top:-4px;}
.deliveryNote th{background:#EBF9FC;}

.queryPostCode .inputtext{margin-right:10px;padding:4px;}
.queryPostCode .inputtext,.queryPostCode button{vertical-align:-1px;*vertical-align:-6px;_vertical-align:-6px;}
#resultList{width:100%;height:236px;overflow:hidden;padding-top:8px;}
.sinalist ul{width:432px;height:226px;padding:4px 8px;border:1px solid #ccc;overflow-y:scroll;}
.queryPostCode p{position:relative;z-index:0;}
