@charset "utf-8";

.bought-search .more-filter, .bought-search .less-filter, .bought-search .search-btn {
    background: url("../img/member/T1iVCoXk8qXXXXXXXX-85-51.png") no-repeat scroll 0 0 transparent;
}
.bought-search {
    padding: 0 10px 10px;
}
.bought-search input {
    border: 1px solid #8AB6DD;
    box-shadow: 1px 1px 1px #E7EFF4 inset;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
}
.bought-search select {
    font-family: tahoma,arial,"宋体";
}
.bought-search .search-btn {
    background-position: -18px 0;
    border: medium none;
    cursor: pointer;
    height: 25px;
    letter-spacing: 8px;
    line-height: 25px;
    margin: 0 6px;
    padding-bottom: 3px;
    text-indent: 8px;
    vertical-align: middle;
    width: 68px;
}
.bought-search .search-btn:hover {
    background-position: -18px -26px;
}
.bought-search .search-btn:focus {
    outline: medium none;
}
.bought-search .search-filter {
    display: none;
}
.bought-search .search-filter li {
    display: inline-block;
    margin: 10px 15px 0 0;
}
.bought-search .search-filter .col1 {
    width: 260px;
}
.bought-search .search-filter .col2, .bought-search .search-filter .col3 {
    width: 178px;
}
.bought-search .more-filter, .bought-search .less-filter {
    margin-left: 5px;
    padding-right: 10px;
}
.bought-search .more-filter {
    background-position: 75px 6px;
}
.bought-search .less-filter {
    background-position: 75px -8px;
}
.bought-search-more .search-filter {
    display: block;
}
.w90{width:90px;background-position:0 -300px;}
.package_num button.payItem{width:115px;background:url(../images/btn_sprite.png) -82px 0;}
button{background:url(../img/member/btn_sprite.png) 0 0;cursor:pointer;border:none;height:24px;width:67px;color:#fff;}
.y90{width:90px;background-position:0 -330px;color:#df5f06;font-weight:normal;}

.columnright{float:right;width:765px;position:relative;}
.columnright h2{overflow:hidden;background:#F0F0F0;border-bottom:#900 1px solid;margin-bottom:8px;padding:0 10px;font:bold 12px/25px "宋体";color:#333;padding-top:5px;}
.columnright h2 a{font-weight:normal;float:right;}
.columnright h2 .fr{font-weight:normal;margin-right:10px;color:#666;}
.columnright h2 .gray{color:#999;font-weight:normal;}
.columnright .tb td{border-bottom:#ddd 1px solid;border-left:#ddd 1px solid;}
.columnright .or_list h3{line-height:21px;font-weight:normal;float:right;width:450px;}

div.package_track{display:none;position:absolute;top:30px;right:-1px;padding:5px;border:1px solid #feb654;background:#fffde6;color:#666;}
div.package_track span{position:absolute;right:29px;font-size:12px;font-family:"宋体";}
div.package_track span.ico_com1{top:-9px;color:#feb654;}
div.package_track span.ico_com2{top:-8px;color:#fffde6;}
div.package_track ul{position:relative;padding-left:75px;}
div.package_track ul li.date{position:absolute;top:0;left:0;*top:-1px;_top:-2px;_left:-75px;}

#container .aBlu,#container .aRed,#container .aGrey{text-decoration:none;}
#container .aBlu{color:#06C;}
#container .aBlu:hover{color:#F60;}
#container .aGrey{color:#666;}
#container .aGrey:hover{color:#C00;}
#container .aRed{color:#C00;}
#container .aRed:hover{color:#C00;}
#container .order_dr a{color:#06c;}
#container .order_dr a:hover{color:#f60;}

.or_info{width:170px;line-height:22px;color:#999;padding:0 0 0 10px;}
.or_info,div.or_list{float:left;}
.or_info strong{color:#333;font-size:14px;white-space:nowrap;}
.or_info span{color:#666;}
.or_info button{display:block;margin-bottom:5px;}
.or_info p{margin:10px 0;}
.or_info span.gray3{color:#333;}
.gray6{color:#666;}
.or_list dd.tuan_list{padding-left:125px;}
.or_info button.finished{width:60px;background:url("../img/member/swf.jpg") no-repeat 0 -72px;color:#666;cirsor:default;}
.or_list{width:582px;}
.or_list dt{background:#FFFDE6;border-left:#dfdfdf 1px solid;height:30px;line-height:30px;padding-left:1em;border-bottom:#dfdfdf 1px solid;position:relative;bottom:-1px;}
.or_list dd{overflow:hidden;margin:0 15px;padding:10px 0;line-height:21px;border-top:#ccc 1px dotted;clear:both;_zoom:1;}
.or_list img{float:left;margin-right:10px;}

.y90{width:90px;background-position:0 -330px;color:#df5f06;font-weight:normal;}
.mr5 { margin-right: 5px;}

.order_dr{padding-top:10px;padding-bottom:10px;color:#666;}
.order_dr p{margin:0;word-wrap:break-word;}
.order_dr p span{display:inline-block;color:#999;}
.order_dr p{margin:0;}
.order_dr p span{color:#999;}
.order_dr small{display:block;font-style:normal;font-weight:normal;color:#c00;font-size:12px;}
.order_dr button{margin:6px 0;}
.order_dr .buy_now_order{width:75px;height:25px;margin-bottom:10px;color:#fff;font-weight:bold;background:url(../img/member/bg_order_dr.gif) no-repeat 0 0;}


.orderlist_tuan dt b{width:auto;background-position:0 -172px;}
.orderlist_tuan .pic{float:left;}
.orderlist_tuan img{display:block;width:118px;height:118px;margin:0;padding:0;}
.orderlist_tuan dd p,.orderlist_tuan dd blockquote{float:right;width:432px;}
.orderlist_tuan dd p{margin-top:5px;}
.orderlist_tuan dd p span{margin-left:80px;}
.orderlist_tuan p ins{margin-left:4px;color:#999;text-decoration:none;}
.orderlist_tuan p cite{color:#c00;}

.or_listrf em{color:#c00;}
.or_listrf img{padding:1px;border:1px solid #dfdfdf;}
.or_listrf a:hover img{border-color:#c00;}
.or_listrf dt{width:100%;height:16px;border-top:1px solid #dfdfdf;margin-top:-2px;margin-right:-1px;padding:7px 0;line-height:17px;position:relative;z-index:0;}
.or_listrf dt button{position:absolute;right:70px;top:3px;z-index:1;}
.or_listrf dt a{display:inline;float:right;margin-right:12px;}
.or_listrf dd{margin:0 10px;padding:12px 0;}
.or_listrf dt cite{margin-right:8px;margin-left:16px;font-weight:bold;}
.or_listrf dt small{color:#f60;font-size:12px;}
.or_listrf dt b{display:inline-block;height:16px;margin-left:6px;padding-left:19px;background-image:url(..img/member/bg_order_dr.gif);background-repeat:no-repeat;background-position:0 -108px;}
.or_listrf dt .shang{background-position:0 -192px;}
.or_listrf dt .dai{background-position:0 -130px;}
.or_listrf dt b.yu{width:auto;background-position:0 -151px;}

div.package_track{display:none;position:absolute;top:30px;right:-1px;padding:5px;border:1px solid #feb654;background:#fffde6;color:#666;}
div.package_track span{position:absolute;right:29px;font-size:12px;font-family:"宋体";}
div.package_track span.ico_com1{top:-9px;color:#feb654;}
div.package_track span.ico_com2{top:-8px;color:#fffde6;}
div.package_track ul{position:relative;padding-left:75px;}
div.package_track ul li.date{position:absolute;top:0;left:0;*top:-1px;_top:-2px;_left:-75px;}

.odrTabUl{float:left;width:767px;height:25px;padding:0 25px 0 0;_overflow:hidden;}
.odrTab li{height:25px;line-height:25px;}
.odrTab li.cur{position:relative;background:#fff;border-bottom:1px solid #fff;color:#666;z-index:1;}

.or_box{border:#ccc 1px solid;background:url(../img/member/orderlist_bg.gif) left repeat-y;margin-bottom:10px;zoom:1;}
.ul_select {background: none repeat scroll 0 0 #EFEFF0;border: 1px solid #CCCCCC;display: block;height: 14px;padding: 4px 0 5px;}
.ul_select li {border-right: 1px solid #CCCCCC;cursor: pointer;float: left;line-height: 14px;position: relative;text-align: center;width: 95px;}
.ul_select li.cur {color: #CC0000;font-weight: bold;}
.ul_select li.non, .ul_select li.non cite { color: #999999;  cursor: default;}
.mb10 {margin-bottom: 10px;}
.mr5 {margin-right: 5px;}

#detail-item li.usable-inte {width: 190px;}
#detail-item li {display: inline;float: left;}
#detail-item li.usable-inte p.available {color: #BF0000;}
.fweight {font-weight: bold;}
.fsize {font-size: 16px;}

#demo2 {min-height: 430px;position: relative;}
#demo2 .ks-switchable-nav { background-color: #CFEEF8;padding-left: 5px; padding-top: 8px; height: 30px;z-index: 99;}
#demo2 .ks-switchable-nav li {background-color: #B2DAE9;color: #FFFFFF;cursor: pointer;float: left; height: 28px; width:122px;margin-right: 2px;text-align: center;}
#demo2 .ks-switchable-nav li.ks-active a { background-color: #FFFFFF;color: #107F9E;}
#demo2 .ks-switchable-nav li a {display: block;float: left;padding: 10px 20px;}
#demo2 .ks-switchable-content {background-color: #FFFFFF;padding: 10px;position: relative;}
#detailShowtab {width: 770px;}
#detailShowtab thead {background-color: #DCF9C2;height: 32px;text-align: center;}
#detailShowtab thead tr {height: 32px;width: 100%;}
#detailShowtab tr td, #detailShowtab tr th {text-align: center;vertical-align: middle;}

.clearfix:after {clear: both;content: " ";display: block;height: 0;}
#queryCodeNum {overflow: hidden;position: absolute;right: 10px;top: 10px;vertical-align: middle;}
#queryCodeNum #orderMenu {border: 0 none; color: #CCCCCC; height: 23px;line-height: 23px;padding-left: 10px;width: 208px;}
#queryCodeNum #toQuery { background-color: #66A4BB;border: 0 none;color: #FFFFFF; cursor: pointer;height: 23px;line-height: 23px;width: 33px;}

/*-----------订单详情----------------------*/
#container a.hblue {
    color: #0066CC;
}
#container a.hyellow:hover, #container a.hblue:hover {
    color: #FF6600;
}
.order_infod {
    background: none repeat scroll 0 0 #EFEFEF;
    border: 1px solid #CCCCCC;
    overflow: hidden;
    padding: 0 5px 5px;
}
.order_conhead{width:767px;border-bottom:1px solid #dcdfe6; background-color:#fafaeb;}
.order_conhead ul li{float:left; padding-left:20px; line-height:32px;background-color:#fafaeb;}
.order_continf {
    background: none repeat scroll 0 0 #FFFFFF;
    overflow: hidden;
    padding: 0 25px 32px;
}
.order_continf dl {
    border-bottom: 1px solid #E4E4E4;
    line-height: 14px;
    overflow: hidden;
}
.order_continf dt a, .order_continf dd a {
    font-weight: normal;
    margin-left: 13px;
}
.order_continf dd .order_pay_help {
    margin-left: 0;
}
.order_continf dt {
    font-weight: bold;
    padding: 16px 0;
}
.order_continf dd {
    padding-bottom: 14px;
    text-indent: 2em;
}
.order_info_list {
    overflow: hidden;
}
.order_info_list h3 {
    font-size: 12px;
    line-height: 27px;
}
.product_table {
    background: none repeat scroll 0 0 #E4E4E4;
    border: medium none;
    border-collapse: separate;
    border-spacing: 1px;
    font-weight: bold;
    width: 100%;
}
.product_table a {
    font-weight: normal;
}
.product_table td, .order_info_list th {
    background: none repeat scroll 0 0 #FFFFFF;
}
.product_table th {
    background: none repeat scroll 0 0 #EFEFEF;
    padding: 4px 12px;
}
.product_table td {
    line-height: 23px;
    padding: 6px 12px;

}
.product_table .pro {
    vertical-align: middle;
}
.product_table .pro a {
    color: #666666;
    float: left;
}
.product_table .pro1 a {
    color: #666666;
    float: left;
}
.product_table .pro img {
    border: 1px solid #DFDFDF;
    display: block;
    float: left;
    height: 43px;
    margin-right: 10px;
    width: 43px;
}
.product_table .pro a:hover img {
    border-color: #CC0000;
}
.product_table .pro .pic {
    display: inline;
}
.product_table span {
    color: #1A66B3;
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    margin: 0 6px;
}
.order_crash {
    background: none repeat scroll 0 0 #EFEFEF;
    font-size: 14px;
    line-height: 28px;
    margin-top: 10px;
    overflow: hidden;
    padding: 4px 20px 14px 0;
}
.order_crash ul {
    float: right;
    overflow: hidden;
    text-align: left;
}
.order_crash span {
    display: inline-block;
    text-align: right;
    width: 158px;
}
.order_crash li {
    clear: both;
    overflow: hidden;
    padding-right: 24px;
}
.order_crash_total {
    border-top: 1px solid #CCCCCC;
}
.order_crash em {
    color: #CC0000;
    font-size: 16px;
}