.flex {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex!important;
}
.flex-warp {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-v {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex1 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
}
.flex-align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex-align-star {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}
.flex-pack-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.flex-pack-justify {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.back-red {
  color: #fff;
}
.mui-row.mui-fullscreen > [class*="mui-col-"] {
  height: 100%;
}
.mui-col-xs-3,
.mui-control-content {
  overflow-y: auto;
  height: 100%;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
  background-color: #fff;
}
.mui-col-xs-3 {
  background: #fff;
  margin-right: -1px;
}
.mui-col-xs-9 {
  background: #f6f6f6;
}
.mui-segmented-control {
  background: #fff;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item {
  border-bottom: none !important;
  width: auto;
  height: 36px;
  line-height: 36px;
  font-size: 12px;
  /*border-right: 1px solid #c8c7cc;*/
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item span {
  display: block;
  height: 36px;
  line-height: 36px;
  margin: 0 15px;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
  color: #ff402e;
  background: #f6f6f6;
  border-right: 1px solid #f6f6f6;
  border-left: 3px solid #ff402e;
}
.fenlei-warp {
  padding: 0 11px;
}
.fenlei-warp h2 {
  font-size: 13px;
  color: #000;
  height: 35px;
  line-height: 35px;
}
.fenlei-warp h2:before {
  display: inline-block;
  content: "";
  width: 13px;
  height: 12px;
  background: url(../img/icon-mask.png) center center no-repeat;
  background-size: 13px 12px;
  margin-right: 6px;
}
.img-box {
  width: 100%;
  height: 0;
  overflow: hidden;
  margin: 0;
  padding-bottom: 100%;
  background: #fff;
}

.img-box img {
  width: 100%;
}
.flex-item {
  display: flex;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex!important;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}
.flex-item li {
  background-color: #fff;
  padding: 8px 0;
  width: 1.6rem;
  margin-left: 6px;
  overflow: hidden;
  font-size: 12px;
  text-align: center;
  margin-bottom: 5px;
}
.flex-item li:nth-child(3n+1) {
  margin-left: 0;
}
.flex-item .img-box1 {
  width: 1.6rem;
  height: 1.6rem;
  overflow: hidden;
  margin: 0;
  background: gray;
}
.flex-item .img-box1 img {
  width: 100%;
  height: 100%;
}