<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>jspgou-left</title>
<#include "/jspgou_sys/head.html"/>
<script type="text/javascript">
$(function(){
	JCore.lmenu('lmenu');
});
</script>
</head>
<body class="lbody">
<ul id="lmenu">

<@authorize url="template/v_list.do">
 <li><a href="../template/v_list.do" target="rightFrame"><@s.m "shop.function.template"/></a></li>
</@authorize>
<@authorize url="resource/v_list.do">
 <li><a href="../resource/v_list.do" target="rightFrame"><@s.m "shop.function.resource"/></a></li>
</@authorize>
<@authorize url="channel/v_list.do">
 <li><a href="../channel/v_list.do" target="rightFrame"><@s.m "shop.function.channel"/></a></li>
</@authorize>
<@authorize url="category/v_list.do">
 <li><a href="../article/v_list.do" target="rightFrame"><@s.m "shop.function.article"/></a></li>
</@authorize>
</ul>
</body>
</html>