@charset "utf-8";

.fr{float:right;}
.red{color:#c00;}
.ablue{color:#06c;}
.darkgray{color:#333;}
.yh{font-family:'microsoft yahei',Tahoma,Geneva,sans-serif;}
.clearfix{display:inline-block;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
#freePromotionList,#cart2_content,#cart2_content div,#container,#topcolumn,#yhd_pop_win,#free_promotion_container,.promotion-box,.emptybox,#cart_top_free_prom_box{_zoom:1;}
h2{font-size:12px;font-weight:bold;color:#333;}

.img60{width:60px;height:60px;overflow:hidden;text-align:center;display:table-cell;vertical-align:middle;*display:block;*font-size:60px;border:1px solid #E4E4E4;}
a.cd{vertical-align:2px;background:url(../img/member/bg_sprite.png) no-repeat -280px -220px;width:35px;height:18px;line-height:18px;color:#FFF;display:inline-block;text-align:center;margin-left:10px;}
a.cd:hover{text-decoration:none;color:#FFF;}
a.cd_mall{vertical-align:2px;background:url(../img/member/bg_sprite.png) no-repeat -340px -220px;width:35px;height:18px;line-height:18px;color:#FFF;display:inline-block;text-align:center;margin-left:10px;}
a.cd_mall:hover{text-decoration:none;color:#FFF;}
a.btn_sumbit{width:55px;height:24px;line-height:24px;display:inline-block;background:url(../img/member/bg_btn.png) no-repeat 0 0;color:#fff;text-align:center;}
a.btn_sumbit:hover{text-decoration:none;color:#fff;}
a.cd_mall,a.cd{_vertical-align:3px;}

.btn-reduce,.btn-reduce-active,.btn-plus{width:14px;height:13px;margin:0 2px 0 2px;background:url(../img/member/bg_sprite.png) no-repeat;cursor:pointer;border:none;background-color:#fff;margin-top:4px;vertical-align:middle;}
.btn-reduce{background-position:-170px -43px;}
.btn-reduce-active{background-position:-188px -43px;}
.btn-plus{background-position:-205px -43px;}

.fix_btm_bar{width:1093px;height:33px;line-height:33px;background:#fffeee;border:1px solid #ffdba7;bottom:0;padding-left:5px;}
.fix_btm_bar a{margin-left:12px;}
.fix_btm_bar strong{font-size:14px;font-weight:bold;color:#333;float:left;}
.fix_btm_bar strong .red{font-size:20px;margin:0 5px 0 7px;}
.ctn_shopping{background:url(../img/member/bg_sprite.png) no-repeat -360px -40px;width:110px;height:35px;border:0;vertical-align:top;margin-top:-1px;margin-left:18px;_margin-top:0;text-align:center;color:#F60;font-size:14px;font-weight:bold;float:left;cursor:pointer;}
.settlement{background:url(../img/member/bg_sprite.png) no-repeat -470px -40px;width:110px;height:35px;border:0;vertical-align:top;margin-top:-1px;_margin-top:0;text-align:center;color:#fff;font-size:14px;font-weight:bold;float:left;margin-right:-1px;_margin-right:0;cursor:pointer;}
.no_product{background-position:-560px -220px;}
.selectbox_btm{float:left;_padding-top:10px;}
.selectbox_btm label{vertical-align:bottom;}


.stepNum1{background:url(../img/member/stepBg.gif) no-repeat;background-position:0 0;color:#FFF; width:915px; height:36px; margin:15px auto;}
.stepNum2{background:url(../img/member/stepBg.gif) no-repeat;background-position:0 -36px;color:#FFF; width:915px; height:36px; margin:15px auto;}
.stepNum3{background:url(../img/member/stepBg.gif) no-repeat;background-position:0 -72px;color:#FFF; width:915px; height:36px; margin:15px auto;}

.num{width:30px;height:17px;line-height:17px;text-align:center;border:#c9c9c9 1px solid;margin-top:4px;vertical-align:middle;color:#666;}

.gray-box h2{float:left;}
.selectbox_btm{float:left;_padding-top:10px;}
.selectbox_btm label{vertical-align:bottom;}
.seller-yhd,.seller-inshop{width:16px;height:16px;background:url(../img/member/bg_sprite.png) no-repeat;display:inline-block;margin-right:10px;vertical-align:-3px;*vertical-align:0;_vertical-align:2px;}.seller-yhd{background-position:-100px -40px;}
.seller-inshop{background-position:-130px -40px;}
.ipc{vertical-align:middle;margin-right:10px;}
.gray a:hover,.pro-li .tl a:hover,dt a:hover,.proname a:hover,a:hover,.last_td span a:hover{color:#c00;text-decoration:none;}
.shop_name{height:30px;line-height:30px;border-bottom:2px solid #c00;padding:0 10px 0 6px;overflow:hidden;}
.subtotal{margin-bottom:35px;text-align:right;margin-top:10px;line-height:20px;}

.textSlider{height:30px;overflow:hidden;text-align:right; float:right; width:400px;}
.textSlider ul{text-align:right;float:right;}
.textSlider ul li{text-align:right;float:right;}
.textSlider ul li a{text-align:right;float:right;}

.list{table-layout:fixed;background:#fff;text-align:center;border-collapse:collapse;border-bottom:1px solid #dbdbdb;}
.list th{height:30px;border-bottom:1px solid #ccc;font-weight:normal;color:#333;background:url(../img/member/bg_sprite.png) repeat-x 0 -170px;}.list td{border-top:1px solid #dbdbdb;padding:9px 4px;font-family:simsun Verdana,Geneva,sans-serif;line-height:18px;}
.list tr.on td,.list tr.select td{background:#F5F5F5;}
.num{width:30px;}.list .tl{text-align:left;}
.list h3{font:12px/18px simsun Verdana,Geneva,sans-serif;overflow:hidden;word-break:break-all;max-height:36px;margin-bottom:6px;}
.tips{height:18px;line-height:18px;color:#C00;}.list tr.tr-error td{background:#fee;border-top:1px solid #FFD2D2;border-bottom:1px solid #FFD2D2;}
.list tr.tr-error td.first_td{border-left:1px solid #FFD2D2;}
.list tr.tr-error td.last_td{border-right:1px solid #FFD2D2;}
.list tr.tr-promotion td{background:#fffeee;border-top:1px solid #FFE8C4;border-bottom:1px solid #FFE8C4;}
.list tr.tr-promotion td.first_td{border-left:1px solid #FFE8C4;}
.list tr.tr-promotion td.last_td{border-right:1px solid #FFE8C4;}
.list tr.no_pro td{background:#FFF;border-top:1px solid #DBDBDB;border-bottom:1px solid #DBDBDB;}
.list tr.no_pro td.first_td{background:#FFF;border-left:1px solid #DBDBDB;}
.list tr.no_pro td.last_td{background:#FFF;border-right:1px solid #DBDBDB;}

.nogoodsbg{width:520px;margin:0 auto;margin-top:50px;}
.nogoodsimg{float:left;width:74px;}
.nogoodstxt{float:left;width:410px;#width:410px;margin-left:26px;}
.nogoodstxt p{line-height:20px;}

.a-red {
    margin-top: 10px;
    background: url("../img/member/bg_buycarsprite2.gif") no-repeat scroll 100% -80px transparent;
    display: inline-block;
    font-weight: bold;
    line-height: 21px;
    overflow: hidden;
    padding: 0 7px 0 0;
    text-decoration: none;
    vertical-align: middle;
    width:80px; 
    height:29px; 
    cursor:pointer;
    border:0 none; 
    text-indent:20px;
    padding-bottom:2px;
    margin-left:5px;
}
