@charset "utf-8";
/* CSS Document */

body,p,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,button,fieldset,legend,input,textarea,p,th,td,dd{ margin:0; padding:0;list-style:none;}
body{color:#666; font-family:"宋体",Verdana, Geneva,sans-serif; font-size:12px;}
body,button,input,select,textarea{font:12px tahoma,arial,\5b8b\4f53;}
input,select,textarea{font:12px Tahoma;outline:none;font-size:100%;}
.wrap{position:relative;margin:0 auto;width:980px;_zoom:1;}
ul,li{ list-style-type: none; overflow: hidden;}
.searchwrap{margin:0 auto;}
.w980{width:980px;}
img{border:0 none;}
em{font-style:normal;}

.gray{color:#999;}

.red{ color:#9f0100;}
a.red:link,a.red:visited{color:#cc0000;}
.clear{clear:both; height:0;overflow:hidden; }
.center{width:980px; margin:0 auto;}
.mt5{margin-top:5px;}
.mt{margin-top:10px;}
.ml{margin-left:10px;}
.f24{font-size:24px;color:#c00;}
.clearfix{*zoom:1;}
.clearfix:after{display:block;content:".";height:0;visibility:hidden;clear:both;font-size:0;line-height:0;}
.undis{display:none;}

.p_title{padding:5px 0 10px;}
.p_title h2{font:bold 14px/30px '宋体';color:#000;}

.produce{margin-bottom:40px;}
.produce .title h2{font:bold 14px/42px '宋体';color:#000;}

.property_box{float:right;width:585px;}
.property.coat{width:515px;}
.property a:link,.property a:visited{color:#06c;}
.property a:hover{color:#c00;}

.property dt,.property dd{float:left;line-height:24px;}
.property dt{width:76px;text-align:right;}
.property dd{margin-left:10px;color:#666;}
.property .gift_points{margin-left:75px;color:#333;}
.property .gift_points strong{margin-left:10px;color:#c00;}
.property .dzd_name{float:left;font-weight:bold;font-size:14px;color:#c00;}
.property .dzd_name:hover{text-decoration:none;}
.property .mall_shop{float:left;position:relative;width:90px;height:25px;margin-left:20px;z-index:2;}
.property .mall_shop a{display:inline-block;width:78px;height:25px;padding-right:12px;font-size:14px;font-weight:bold;text-align:center;color:#fff;background:url(../img/product/toshop_bg.gif) no-repeat;}
.property .mall_shop a:link,.property .mall_shop a:visited{color:#fff;}
.property .mall_shop a:hover{color:#fff;}
.property .mall_shop em{position:absolute;left:-1px;top:-64px;width:260px;height:45px;line-height:18px;padding:10px 5px;font-style:normal;background:url(../img/product/toshop_bg.gif) 0 bottom no-repeat;display:none;z-index:2;}
.property .old_price{color:#999;}

/*组合商品*/
 
ul{ list-style:none; margin:0; padding:0;}
a{ color:#666; text-decoration:none;}
.fitting-suit .master{ float:left; overflow:hidden; padding:0 0 0 10px; text-align:center; width:150px;}
.fitting-suit .suits{ width:788px; float:left; overflow-x:auto; overflow-y:hidden;}
.fitting-suit .infos{ float:right; line-height:20px; width:190px;}
.p-img{ padding:5px 0; overflow:hidden;}
.master .p-name{ padding:0 13px; width:100px; height:3em;}
.p-name{ word-break:break-all; word-wrap:break-word; overflow:hidden;}
.master .p-price{ display:none;}
.p-price strong{ color:#F00;}
.suits .p-more{ clear:both;}
.hl_link:hover, .hl_link:visited, a.hl_link{ color:#005aa0;}
.lh .item, .lh dl, .lh li{ float:left;}

.suits li{ width:197px;}
.suits li .p-name{ width:140px;}

#more-fitting-link{ font-weight:700; position:relative; margin-left:35px; margin-bottom:10px; color:#999;}
.fitting-suit .btns{ margin-left:35px;}

.fitting-suit .master s, .fitting-suit .suits li s{ background:url(../img/tupian/ico_jiahao.gif) no-repeat; width:23px; height:22px; display:inline; float:right; margin-right:3px; margin-top:40px;}
.fitting-suit .infos s{ background:url(../img/tupian/ico_denghao.gif) no-repeat; width:23px; height:15px; display:inline; float:left; margin-top:40px;}
.fitting-suit .infos .btns, .fitting-suit .infos .p-name, .fitting-suit .infos .p-price, .fitting-suit .infos .p-saving, .fitting-suit .infos .selected{ margin-left:35px; color:#999;}
.fitting-suit .btn-buy{ background:url(../img/tupian/menu_goumai.gif) no-repeat; width:77px; height:25px; display:block; margin-top:10px; font-size:0;}
.fitting-suit .infos .p-name{ height:3em; line-height:1.5em; color:#999;}


/* share-con */
.share-con{height:38px;overflow:hidden;padding-left:10px;}
.share-con span.tit{float:left;line-height:38px;}
.share-con a,.share-con a span{height:16px;width:16px;display:block;float:left;overflow:hidden;}
.share-con a{padding:3px;border:solid 1px #fff;margin-top:7px;}
.share-con a span{background-image:url(../img/product/share-icon.gif);background-repeat:no-repeat;cursor:pointer;}
.share-con a:hover{opacity:0.7;filter:alpha(opacity=70);border:solid 1px #ddd;}
.share-con a span.copylink{background-position:0 0;}
.share-con a span.tengxunweibo{background-position:0 -16px;}
.share-con a span.xinlang{background-position:0 -32px;}
.share-con a span.sohu{background-position:0 -48px;}
.share-con a span.wangyi{background-position:0 -64px;}
.share-con a span.qqzone{background-position:0 -80px;}
.share-con a span.qqpengyou{background-position:0 -96px;}
.share-con a span.renren{background-position:0 -112px;}
.share-con a span.kaixin{background-position:0 -128px;}
.share-con a span.taojianghu{background-position:0 -144px;}
.share-con a span.douban{background-position:0 -160px;}
.share-con a span.baidusoucang{background-position:0 -176px;margin-right:0px;}

.promotion .star1{vertical-align:-3px;}

.promo_list{margin-top:4px;position:relative;z-index:1;}
.promo_title li.tabon span{display:block;}
.promo_title li.l1 strong{background-color:#F90;}
.promo_title li.l1 span{color:#F90;}
.promo_title li.l2 strong{background-color:#FF6900;}
.promo_title li.l2 span{color:#FF6900;}
.promo_title li.l3 strong{background-color:#06C;}
.promo_title li.l3 span{color:#06C;}
.promo_title li.l4 strong{background-color:#009D39;}
.promo_title li.l4 span{color:#009D39;}
.promo_title li.l5 strong{background-color:#626AD9;}
.promo_title li.l5 span{color:#626AD9;}
.promo_list .promo_cen a:link,.promo_list .promo_cen a:visited{color:#666;}
.promo_list .promo_cen a:hover{color:#c00;}
.promo_list .promo_cen .gift_box .info a:link,.promo_list .promo_cen .gift_box .info a:visited{color:#fff;}
.promo_list .promo_cen .gift_box .info a:hover{color:#fff;}
.promo_list .promo_cen .gift_box .info a.over:link,.promo_list .promo_cen .gift_box .info a.over:visited{color:#666;}
.promo_list .promo_cen .gift_box .info a.over:hover{color:#666;}
.promo_list .promo_cen .gift_box .info h4 a:link,.promo_list .promo_cen .gift_box .info h4 a:visited{color:#666;}
.promo_list .promo_cen .gift_box .info h4 a:hover{color:#c00;}

.promo_title .li_title{float:left;width:35px;height:16px;margin-right:5px;}
.promo_title .li_title em{display:block;width:35px;height:16px;overflow:hidden\9;font-size:0\9;line-height:0\9;color:rgba(0,0,0,0);cursor:pointer;background:url(../img/product/1228_r7_c22.png) no-repeat;}
.promo_title li.tabon .s1{background-position:0 -16px;}
.promo_title .li_title .s2{background-position:-35px 0;}
.promo_title li.tabon .s2{background-position:-35px -16px;}
.promo_title .li_title .s3{background-position:-70px 0;}
.promo_title li.tabon .s3{background-position:-70px -16px;}
.promo_title .li_title .s4{background-position:-105px 0;}
.promo_title li.tabon .s4{background-position:-105px -16px;}
.promo_title .li_title .s5{background-position:-140px 0;}
.promo_title li.tabon .s5{background-position:-140px -16px;}

.size_list li.no_model,.color_list li.no_model{cursor:not-allowed;opacity:.3;filter:Alpha(opacity=30);}
.color_list,.size_list{overflow:hidden;zoom:1;width:420px;}
.color_list li,.size_list li{float:left;position:relative;margin:0 10px 10px 0;overflow:hidden;cursor:pointer;}
.color_list li{width:47px;height:47px;}.size_list li{height:22px;}
.color_list li.current img,.color_list li.selected img{margin:0;border:2px solid #C00;}
.color_list li.current span,.color_list li.selected span{margin:0;border:1px solid #C00;}
.size_list li.current span,.size_list li.selected span{margin:0;border:2px solid #C00;}
.color_list li img,.size_list li span{display:inline-block;margin:1px;border:1px solid #ccc;color:#333;}
.color_list li span{display:block;margin:1px;border:1px solid #ccc;}
.color_list li img{width:43px;height:43px;}
.size_list li span{height:18px;line-height:18px;padding:0 9px;background-color:#fff;vertical-align:top;}
.color_list li span{width:auto;height:18px;line-height:18px;text-align:center;background-color:#fff;}
.color_list li.selected .lion,.size_list li.selected .lion{position:absolute;right:0;bottom:0;width:10px;height:10px;overflow:hidden;font-size:0;line-height:0;color:rgba(0,0,0,0);background:url(../img/product/1228_r7_c15.png) no-repeat;}


.specific_info2{padding:10px 0;margin-top:10px;}
.specific_info2_bg{border:1px solid #F7E5B3;background-color:#FFFEEF;}
.specific_info2 dt{width:75px;}
.specific_info2 .computing{display:inline;}
.specific_info2 .add_shopping_cart_over{margin-left:0;}

.specific_info2 table{margin:5px 0 10px;}
.specific_info2 table td{line-height:35px;}
.specific_info2 .select{font-size:12px;margin-left:15px;}
.specific_info2 .result{font-size:14px;color:#C00;}
.specific_info2 .collection{background:url(../img/product/1228_r2_c8.png) 0 center no-repeat;}
.specific_info2 select{margin-right:10px;}
.buy_btn{cursor:pointer;}
.add_shopping_cart,.add_shopping_cart_over,.specific_info2 .buy_btn{border:0 none;height:35px;_height:36px;margin-right:10px;font:bold  '微软雅黑';color:#fff; font-size:15px;}
.add_shopping_cart{width:130px;padding-left:28px;background:url(../img/product/menu_jrgwc.gif) no-repeat;cursor:pointer;}
.add_shopping_cart_over{width:130px;margin-left:10px;background:url(../img/product/1228_r7_c20.png) no-repeat;}
.specific_info2 .buy_btn{width:110px;margin-right:20px;padding-left:28px;background:url(../img/product/1228_r3_c3.png) no-repeat;}
.specific_info2 .notice_arrival,.specific_info2 .collection{display:inline-block;height:35px;line-height:35px;margin:0 10px;padding-left:20px;}
.specific_info2 .notice_arrival{background:url(../img/product/1228_r7_c35.png) 0 center no-repeat;}
.specific_info2 .collection{background:url(../img/product/1228_r2_c8.png) 0 center no-repeat;}
.specific_info2 .notice_arrival:link,.specific_info2 .notice_arrival:visited,.specific_info2 .collection:link,.specific_info2 .collection:visited{color:#666;}
.specific_info2 .notice_arrival:hover,.specific_info2 .collection:hover{color:#c00;}
.specific_info2 .change_city,.specific_info2 .change_region{margin-right:10px;}
.specific_info2 p{color:#666;}


.computing input{vertical-align:middle;}
.computing .reduce,.computing .add{width:27px;height:28px;border:0;cursor:pointer;}
.computing .reduce{background:url(../img/product/menu_jian.gif) no-repeat;}
.computing .add{background:url(../img/product/menu_jia.gif) no-repeat;}
.computing .num{width:25px;height:26px;line-height:26px;border:1px solid #c9c9c9;text-align:center;}

.share_ico a{display:inline-block;height:16px;line-height:16px;margin-right:5px;padding:0 10px 0 20px;border-right:1px dashed #dadada;}
.share_ico a:link,.share_ico a:visited{color:#666;}
.share_ico a:hover{color:#c00;}
.share_ico a.ico_sina{background:url(../img/product/r1_c5.png) no-repeat;}
.share_ico a.ico_qq{background:url(../img/product/1228_r3_c5.png) no-repeat;}
.share_ico a.ico_kaixin{background:url(../img/product/1228_r3_c8.png) no-repeat;}

.gallery{float:left;width:380px;}
.gallery.coat2{width:448px;}
.gallery .pic{margin-bottom:10px;border:1px solid #EBEBEB;}
.gallery .pic a{display:block;}

div.jqZoomTitle{z-index:5000;text-align:center;font-size:11px;font-family:Tahoma;height:16px;padding-top:2px;position:absolute;top:0;left:0;width:100%;color:#FFF;background:#999;}
.jqZoomPup{overflow:hidden;background-color:#FFF;-moz-opacity:.6;opacity:.6;filter:alpha(opacity = 60);z-index:10;border-color:#c4c4c4;border-style:solid;cursor:crosshair;}
.jqZoomPup img{border:0;}
.preload{-moz-opacity:.8;opacity:.8;filter:alpha(opacity = 80);color:#333;font-size:12px;font-family:Tahoma;text-decoration:none;border:1px solid #CCC;background-color:white;padding:8px;text-align:center;background-image:url(../img/product/zoomloader.gif);background-repeat:no-repeat;background-position:43px 30px;width:90px;* width:100px;height:43px;*height:55px;z-index:10;position:absolute;top:3px;left:3px;}
.jqZoomWindow{border:1px solid #999;background-color:#FFF;}


.pic_slide{position:relative;margin-bottom:10px;}
.pic_slide_box{margin:0 auto;width:350px;height:62px;overflow:hidden;}
.pic_slide_box ul{overflow:hidden;zoom:1;width:9999px;}
.pic_slide_box li{float:left;margin-right:10px;cursor:pointer;}
.pic_slide_box li img{display:inline-block;width:58px;height:58px;margin:1px;border:1px solid #ebebeb;}
.pic_slide_box li img.hovering,.pic_slide_box li img.selected{margin:0;border:2px solid #C00;}
.pic_slide .prev,.pic_slide .next{position:absolute;top:0;display:inline-block;width:16px;height:62px;cursor:pointer;}
.pic_slide .prev{left:0;background:url(../img/product/1228_r2_c4.png) left center no-repeat;}
.pic_slide .next{right:0;background:url(../img/product/1228_r2_c5.png) right center no-repeat;}

.tab_title{height:28px;border-bottom:2px solid #C00;}
.tab_title li{position:relative;float:left;height:30px;line-height:30px;margin-right:10px;margin-bottom:-2px;cursor:pointer;background:url(../img/product/1228_r2_c10.png) no-repeat;}
.tab_title li.current{font-weight:bold;font-size:14px;color:#c00;background:url(../img/product/1228_r2_c9.png) no-repeat;}
.tab_title li a:link,.tab_title li a:visited,.tab_title li a:hover{color:#333;text-decoration:none;}
.tab_title2 li.current{background:url(../img/product/1228_r7_c25.png) no-repeat;}
.tab_title li span{display:block;padding:0 17px;background:url(../img/product/112.png) right 0 no-repeat;}
.tab_title li span em{font-style:normal;color:#c00;}
.tab_title li.current span{padding:0 15px;background:url(../img/product/111.png) right 0 no-repeat;}
.tab_title2 li.current span{background:url(../img/product/1228_r7_c26.png) right 0 no-repeat;}
.tab_box{width:958px;padding:10px;border:1px solid #E4E4E4;border-top:0;background-color:#F0F0F0;overflow:hidden;zoom:1;}
.pre_box{padding-top:0;}

.buyer_experience{position:relative;width:980px;height:auto;}
.buyer_experience .view_all_comments{position:absolute;left:166px;bottom:16px;}
.buyer_experience .title{width:980px;height:30px;background:url(../img/product/detailbg.png) 0 -660px repeat-x;text-indent:10px;line-height:30px;color:#333;}

.spxx_type{width:100%; height:35px; background:url(../img/product/spms_bg0.gif);}
.spxx_type ul{}
.spxx_type ul li{height:35px; line-height:35px; float:left; font-size:14px; padding-left:25px; padding-right:15px;}
.spms_curr{background:url(../img/product/spms_curr22.gif) no-repeat; height:35px; text-align:center;}
.spms_curr a{color:#c90707; cursor:pointer;}
.spms_normal{background:url(../img/product/spms_bg22.gif) no-repeat; height:35px; text-align:center;}
.spms_normal a{color:#575757; cursor:pointer;}

/*一下正对图片*/
.sys_spec_img{}
.sys_spec_img li{ float:left; height:54px; position:relative; margin:2px 6px 2px 0;}
.sys_spec_img li a{height:50px; width:50px; padding:1px; border:1px solid #ccc; float:left; background:#fff; display:inline-block; outline:none;}
.sys_spec_img li a img{ width:50px; height:50px; display:block;}
.sys_spec_img li a:hover{ border:2px solid #e4393c; padding:0; text-decoration:none;}
.sys_spec_img li i{ position:absolute; width:10px; height:10px; font-size:0; line-height:0; right:2px; bottom:2px; background:url(../img/sys_item_selected.gif) no-repeat right bottom; z-index:99; display:none;}
.sys_spec_img li.selected a{ border:2px solid #e4393c; padding:0;}
.sys_spec_img li.selected i{ display:block;}

.sys_spec_text{}
.sys_spec_text li{ float:left; height:28px; position:relative; margin:2px 6px 2px 0; outline:none;}
.sys_spec_text li a{ height:24px; padding:1px 6px; border:1px solid #ccc; background:#fff; display:inline-block; line-height:24px;}
.sys_spec_text li a:hover{ border:2px solid #e4393c; padding:0 5px; text-decoration:none;}
.sys_spec_text li i{ position:absolute; width:10px; height:10px; font-size:0; line-height:0; right:2px; bottom:2px; background:url(../img/sys_item_selected.gif) no-repeat right bottom; z-index:99; display:none;}
.sys_spec_text li.selected a{ border:2px solid #e4393c; padding:0 5px;}
.sys_spec_text li.selected i{ display:block;}




/*写评论*/
.w930{ width:888px; height:100px; margin:auto; border:1px solid #dadada; padding:10px 20px; margin-top:10px; clear:both;}
.haopingshu{ float:left; width:110px; height:70px; text-align:center; margin-left:10px; margin-right:30px;}
.haopingshu h1{ font-size:40px; color:#e4393c; font-family:Arial; height:44px; line-height:44px;}
.haopingshu h2{ font-size:12px; color:#999999;}

.haozhongcha{ float:left; padding-right:40px; width:100px; height:70px;}

.w490{ float:left; width:490px; height:70px; padding-left:40px; padding-right:40px; border-right:1px solid #e5e5e5; overflow:hidden; border-left:1px solid #e5e5e5;}
.dianping{ float:left; width:140px; padding-left:20px; text-align:center;}









