<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <display-name>JspGou</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
          classpath*:config/application-context.xml
          classpath*:config/cache-context.xml
          classpath*:config/checkcode-context.xml
          classpath*:config/jeecore-context.xml
          classpath*:config/jspgou-context.xml
          classpath*:config/shiro-context.xml
          classpath*:config/plug/**/*-context.xml
    </param-value>
  </context-param>
<!--   <servlet>
    <servlet-name>JspGouAdmin</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
      /WEB-INF/conmintpgou-admin-servlet.xml
      /WEB-INF/config/plug/**/*-servlet-admin-action.xml
      </param-value>
    
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet> -->
  <servlet>
    <servlet-name>JspGouFront</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
        classpath*:config/jspgou-front-servlet.xml
        classpath*:config/plug/**/*-servlet-front-action.xml
      </param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  
  
  <servlet>
		<servlet-name>JspGouAdminApi</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
              classpath*:config/jspgou-servlet-admin-api.xml
			</param-value>
		</init-param> 
		<load-on-startup>3</load-on-startup>
	</servlet>
  
  
  <servlet>
    <servlet-name>Jcaptcha</servlet-name>
    <servlet-class>com.mint.common.checkcode.CaptchaServlet</servlet-class>
  </servlet>
<!--   <servlet-mapping>
    <servlet-name>JspGouAdmin</servlet-name>
    <url-pattern>/jeeadmintpgou/*</url-pattern>
  </servlet-mapping> -->
  <servlet-mapping>
 	<servlet-name>JspGouAdminApi</servlet-name>
	<url-pattern>/api/admin/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JspGouFront</servlet-name>
    <url-pattern>*.jhtml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JspGouFront</servlet-name>
    <url-pattern>*.htm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JspGouFront</servlet-name>
    <url-pattern>*.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JspGouFront</servlet-name>
    <url-pattern>*.jspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Jcaptcha</servlet-name>
    <url-pattern>/checkcode.svl</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>processTime</filter-name>
    <filter-class>com.mint.common.web.ProcessTimeFilter</filter-class>
  </filter>
  <filter>
    <filter-name>encoding</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>osivFilter</filter-name>
    <filter-class>org.springframework.orm.hibernate4.support.OpenSessionInViewFilter</filter-class>
  </filter>
  <filter>
    <filter-name>websiteFilter</filter-name>
    <filter-class>com.mint.core.web.WebsiteFilter</filter-class>
  </filter>

<!-- 	<filter>
		<filter-name>cors</filter-name>
		<filter-clcom.mintou.common.web.springmvc.CorsFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>cors</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
 -->
  
  <filter-mapping>
    <filter-name>processTime</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>encoding</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>osivFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>websiteFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>processTime</filter-name>
    <url-pattern>*.jspx</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>encoding</filter-name>
    <url-pattern>*.jspx</url-pattern>
  </filter-mapping>
  	<filter-mapping>
		<filter-name>osivFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>
  <filter-mapping>
    <filter-name>osivFilter</filter-name>
    <url-pattern>*.jspx</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>websiteFilter</filter-name>
    <url-pattern>*.jspx</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>processTime</filter-name>
    <url-pattern>*.jhtml</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>encoding</filter-name>
    <url-pattern>*.jhtml</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>encoding</filter-name>
    <url-pattern>/api/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>osivFilter</filter-name>
    <url-pattern>*.jhtml</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>websiteFilter</filter-name>
    <url-pattern>*.jhtml</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>processTime</filter-name>
    <url-pattern>*.htm</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>encoding</filter-name>
    <url-pattern>*.htm</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>osivFilter</filter-name>
    <url-pattern>*.htm</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>websiteFilter</filter-name>
    <url-pattern>*.htm</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>processTime</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>encoding</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>osivFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>websiteFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>websiteFilter</filter-name>
    <url-pattern>/checkcode.svl</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>shiroFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    <init-param>
      <param-name>targetFilterLifecycle</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>staticSecurityManagerEnabled</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>XssFilter</filter-name>
    <filter-class>com.mint.common.web.XssFilter</filter-class>
    <init-param>
      <param-name>SplitChar</param-name>
      <param-value>@</param-value>
    </init-param>
    <init-param>
      <param-name>FilterChar</param-name>
      <param-value>'@&quot;@\@#@%@>@/>@script>@alert@href@src@iframe</param-value>
    </init-param>
    <init-param>
      <param-name>ReplaceChar</param-name>
      <param-value>‘@“@＼@＃@：@％@＞@\script\@\alert\@\href\@\《\@\iframe\</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>XssFilter</filter-name>
    <url-pattern>/present.jspx</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>XssFilter</filter-name>
    <url-pattern>/adspace.jspx</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>XssFilter</filter-name>
    <url-pattern>/exchange.jspx</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>XssFilter</filter-name>
    <url-pattern>/searchDiscussPage.jspx</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>XssFilter</filter-name>
    <url-pattern>/insertDiscuss.jspx</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>XssFilter</filter-name>
    <url-pattern>/consultProduct.jspx</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>XssFilter</filter-name>
    <url-pattern>/bargain.jspx</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>XssFilter</filter-name>
    <url-pattern>/search.jspx</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>XssFilter</filter-name>
    <url-pattern>/searchProduct.jspx</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>shiroFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>20</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jhtml</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>403</error-code>
    <location>/WEB-INF/common/403.html</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/404.html</location>
  </error-page>
</web-app>